<template>
  <div class="row" style="margin-bottom: 20px"></div>
  <div>
    <div>
        <input 
        type="text"
        class="border-1 mb-2 p-2 mt-4 rounded h-10"
        placeholder="Search by Category"
        />
    </div>
    <table class="table" style="margin-top: 60px">
      <thead>
        <th class="border-2 p-2 text-left">API</th>
        <th class="border-2 p-2 text-left">Description</th>
        <th class="border-2 p-2 text-left">Auth</th>
        <th class="border-2 p-2 text-left">Link</th>
        <th class="border-2 p-2 text-left">Category</th>
      </thead>
      <tbody>
        <tr v-for="item in entries" :key="item.Id">
          <td class="border-2 p-2">{{ item.API }}</td>
          <td class="border-2 p-2">{{ item.Description }}</td>
          <td class="border-2 p-2">{{ item.Auth }}</td>
          <td class="border-2 p-2">{{ item.Link }}</td>
          <td class="border-2 p-2">{{ item.Category }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import ApiService from "../ApiService";
export default {
  name: "ApiListVue",
  data() {
    return {
      entries: [],
    };
  },
  created() {
    this.retrieveentries();
  },

  methods: {
    retrieveentries() {
      ApiService.getAll()
        .then((response) => {
          this.entries = response.data.entries;
          console.log(response.data.entries);
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  
};
</script>

<style lang="scss" scoped></style>
